#
#  Systemd startup definition for kano-init boot
#
#  The first time the kit is booting up, or after a kano-init reset, or add-user
#

[Unit]
Description=Kano tty1 Autologin

[Service]
Type=simple
ExecStart=/bin/su - username
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
EnvironmentFile=/usr/share/kano-init/systemd_ttys/kanoinit-environment.conf
