#
#  Systemd startup definition for kano-init boot
#
#  This is the systemd unit to automatically provide a user bash shell on tty1.
#  It will be restarted if closed or terminated abruptly.
#

[Unit]
Description=Kano tty1 Autologin

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/bin/su - username
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
EnvironmentFile=/usr/share/kano-init/systemd_ttys/kanoinit-environment.conf
