Source: kano-init
Maintainer: Team Kano <dev@kano.me>
Section: admin
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>=9.0.0)

Package: kano-init
Architecture: all
Depends: ${misc:Depends}, kano-motd, kano-toolset (>= 1.2-3),
         kano-settings (>=1.2.2-1)
Description: Initialize Kanux installation on a Kano kit
 This script asks for the user name, expands the root partition, and more.
